body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.fetchedata{
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.searchbar  {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  }

  .filt{
    margin-left: 10px;
    border-radius: 20px;
  }

.cartmon{
  margin-left: 10px;
}